:root {
  --color-primary: #f35c58;
  --color-text: #606164;
  }
  
  * {padding:0; 
     margin:0;
     vertical-align:baseline;
     list-style:none;
     border:0}
  
  html,
  body {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      height: 100%;
  }
  
  a {
    text-decoration: none;
  }

  header {
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: #f1f2fa;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }    
  .sub-menu{
    font-size: 16px;
    font-family: 'Roboto', sans-serif !important;      
  }
  a.brand {
    color: var(--color-primary);   
    font-size: 30px;
    margin-right: 20px;
  }

  .header-menu{
      padding-top: 10px;
  }

  ul.header-menu {
    list-style: none;
    display: flex;
  }
  
  ul.header-menu li:hover > div.sub-menu {
    display: block;
    z-index: 1000;
  }
  
  ul.header-menu li a {
    display: block;
    padding: 0 12px;
    line-height: 80px;
    color: var(--color-text);
    font-weight: bold;
    transition: color ease 0.3s;
    text-decoration: none;
  }
  
  ul.header-menu li a:hover {
    color: var(--color-primary);
  }
  
  ul.header-menu li div.sub-menu {
    display: none;
    position: absolute;
    left: 0;
    padding: 20px;
    width: 100%;
    background: #f1f2fa;
    border-top: 1px solid #D9DAE1;
  }
  
  iframe{
      width: 100%;
      height: 300px;
  }
  #map{
      padding-left: 0px;
      padding-right: 0px;
      background-color: #3c3d41;   
  }
  #imgicon{
      font-size: 32px;
      color: red;
  }
  #icon{
      padding-top: 10px;
      text-align: center;
      background-color: #f4f4f4;
  }
  #myFooter{
      background-color: #3c3d41;
      color: white;
      padding-top: 30px;
  }
  #myFooter a{
      color: white;
      text-decoration: none;
  }
  .redes-sociais{
      font-size: 32px;
      color: #f9f9f9;
  }
  #myFooter .footer-copyright {
      background-color: #333333;
      padding-top: 3px;
      padding-bottom: 3px;
      text-align: center;
  }
  h4{
    font-size: 14px;
  }